# Ignore Python byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Python environment directories
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/
*.code-workspace

# Ignore log files
*.log
src/fromage_model/*.out

# Ignore embeddings
src/fromage_model/cc3m_embeddings.pkl
src/fromage_model/pretrained_ckpt.pth.tar